<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{166,200}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{166,208}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,412},{166,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{166,194}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{166,198}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{164,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{164,206}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{164,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{164,198}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,204},{164,186}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{164,186}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,796},{164,176}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{164,176}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,754},{164,176}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{164,176}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,392},{164,180}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{164,180}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,574},{164,178}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{164,178}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,608},{166,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{166,186}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,212},{148,198}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{148,198}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{162,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{162,198}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
            <key>14_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{164,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{164,198}}</string>
                <key>sourceSize</key>
                <string>{172,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_14.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c486f3b717e4be84498adc93a21e8b$</string>
            <key>textureFileName</key>
            <string>fish_frame_14.png</string>
        </dict>
    </dict>
</plist>
