<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>22_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{315,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{313,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{311,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{311,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{313,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,163}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,479},{311,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{311,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,316},{313,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,167},{313,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{313,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,153},{313,161}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,161}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,330},{313,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{313,159}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{315,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{315,149}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>22_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{307,151}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{307,151}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_22.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c90c5a43020ea8dfbf9c2df18b034d5$</string>
            <key>textureFileName</key>
            <string>fish_frame_22.png</string>
        </dict>
    </dict>
</plist>
