<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,458},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,478},{104,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{104,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{106,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{106,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{108,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{108,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{108,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{108,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,106},{108,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{108,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,202},{106,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{106,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{106,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{106,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,378},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,374},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{106,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{106,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,312},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,294},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,310},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,290},{104,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{104,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{104,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{102,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{102,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,206},{102,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{102,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{102,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{102,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{102,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{104,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,538},{96,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{96,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,462},{98,74}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{98,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,418},{80,100}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{80,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,206},{64,104}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{64,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,108},{68,96}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{68,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,542},{72,94}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{72,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>12_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,520},{72,90}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{72,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_12.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73ed9be5e3cd3d07042ebb549923abd$</string>
            <key>textureFileName</key>
            <string>fish_frame_12.png</string>
        </dict>
    </dict>
</plist>
