<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{271,239}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{271,239}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,255}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{271,255}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,524},{253,209}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{253,209}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{255,237}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{255,237}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,737},{257,255}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{257,255}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,605},{257,257}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{257,257}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,482},{259,253}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{259,253}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{259,241}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{259,241}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{263,227}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{263,227}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,257},{265,223}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{265,223}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,243},{269,231}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{269,231}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{271,253}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{271,253}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{267,193}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{267,193}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,476},{263,127}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,62},{263,127}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{259,111}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,71},{259,111}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{257,115}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,68},{257,115}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,864},{255,123}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{255,123}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,779},{253,141}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,54},{253,141}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>23_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,271},{251,173}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,38},{251,173}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_23.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa162a4bf5eac9ea22b147e8614b4a49$</string>
            <key>textureFileName</key>
            <string>fish_frame_23.png</string>
        </dict>
    </dict>
</plist>
