<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,26},{61,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,22}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,54},{57,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,76},{55,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{55,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,82},{55,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{55,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,76},{57,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,26},{59,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,52},{59,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,22}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,22}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,22}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,22}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{59,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,50},{59,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,24}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,26},{59,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{59,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,104},{45,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{45,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{47,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{47,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>1_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,102},{49,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{49,26}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c417d9d30eef38c29765d5d2ca21407b$</string>
            <key>textureFileName</key>
            <string>fish_frame_1.png</string>
        </dict>
    </dict>
</plist>
