<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,204},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,199},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,76},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,125},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,197},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,162},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,232},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>3_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,125},{62,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,39},{56,35}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,125},{62,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
            <key>3_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25e900aa23a5e24e0b0d690a9c503b73$</string>
            <key>textureFileName</key>
            <string>fish_frame_3.png</string>
        </dict>
    </dict>
</plist>
