<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,394},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
            <key>ranking10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,90}}</string>
                <key>sourceSize</key>
                <string>{390,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranking.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cb1c49fd17fcbf40d004a07e3e917b$</string>
            <key>textureFileName</key>
            <string>ranking.png</string>
        </dict>
    </dict>
</plist>
