<div class="ft-cen ">
	<h3>第1步:请牢记好友的红包口令哦</h3>
	<h2>{{share_key}}</h2>
	<h3>第2步:下载进入游戏,输入红包口令领取话费</h3>
	<img class="img_fit" src="/img/icon.png" /></br>
  <img class="img_fit" src="/img/btn.png" onclick="download()"/>
</div>
<div class="bg">
  <img src="/img/app_bg.png">
</div>
