<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,174},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,170},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,118},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,58}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,226},{116,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,60}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,60}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,56}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,116},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,114},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,230},{116,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,62},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,60},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,228},{116,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,58},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,286},{112,52}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{112,52}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,284},{112,54}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{112,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>7_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{110,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{110,54}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_7.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ac499895abf41fecfc880306c9c30d$</string>
            <key>textureFileName</key>
            <string>fish_frame_7.png</string>
        </dict>
    </dict>
</plist>
