<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{345,173}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{345,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{355,173}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{355,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{357,173}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{357,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{355,173}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{355,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{357,173}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{357,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{363,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{363,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,177},{353,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{353,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{365,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{359,173}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{359,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{365,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,177},{353,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{353,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{363,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{363,173}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{341,109}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,47},{341,109}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
            <key>21_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,345},{325,107}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,50},{325,107}}</string>
                <key>sourceSize</key>
                <string>{369,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_21.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0b6f76a73f8fef80f39503c31e7628$</string>
            <key>textureFileName</key>
            <string>fish_frame_21.png</string>
        </dict>
    </dict>
</plist>
