<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>52_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,654},{397,114}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{397,114}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{421,116}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{421,116}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{381,136}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{381,136}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1199},{367,128}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{367,128}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1402},{371,116}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{371,116}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1040},{379,112}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{379,112}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,649},{389,94}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{389,94}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,254},{393,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{393,90}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,882},{389,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{389,110}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,810},{387,120}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{387,120}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1116},{383,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{383,116}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,425},{383,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{383,116}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{447,122}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{447,122}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,994},{385,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{385,120}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{397,136}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{397,136}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,254},{401,138}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{401,138}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,394},{397,142}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{397,142}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{389,152}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{389,152}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1234},{377,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{377,166}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{377,158}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{377,158}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{385,118}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{385,118}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,770},{395,110}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{395,110}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{397,114}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{397,114}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{453,130}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,126},{437,126}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{437,126}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{419,114}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{419,114}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{407,114}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{407,114}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{399,110}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{399,110}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{395,112}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{395,112}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
            <key>52_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,538},{397,114}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{397,114}}</string>
                <key>sourceSize</key>
                <string>{455,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_52.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:805f175bf52041ffcd71d02061cd3555$</string>
            <key>textureFileName</key>
            <string>fish_frame_52.png</string>
        </dict>
    </dict>
</plist>
