<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>32_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{121,52}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{121,52}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{129,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{129,52}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,125},{123,48}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{123,48}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,133},{129,42}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{129,42}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{131,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{131,42}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{129,38}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{129,38}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{129,40}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{129,40}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{133,46}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>32_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{141,40}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_32.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b49150fa3652aac877fa2b6192936e5$</string>
            <key>textureFileName</key>
            <string>fish_frame_32.png</string>
        </dict>
    </dict>
</plist>
