<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{217,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,101},{217,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{217,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,198},{215,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{215,97}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,297},{211,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{211,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{205,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{205,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,491},{203,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{203,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,491},{203,95}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{203,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,394},{205,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{205,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{211,95}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{211,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{215,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{215,95}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{207,85}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{207,85}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{185,113}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{185,113}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
            <key>19_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,588},{155,131}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{155,131}}</string>
                <key>sourceSize</key>
                <string>{217,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_19.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b93d08f3fd1ff66f09e0b497f01f24a7$</string>
            <key>textureFileName</key>
            <string>fish_frame_19.png</string>
        </dict>
    </dict>
</plist>
