<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>42_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{193,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{193,190}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{193,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{193,190}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,391},{193,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,186}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{193,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{193,190}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{193,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{193,190}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,586},{191,192}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,196},{193,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{193,188}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,196},{171,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{171,174}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
            <key>42_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,391},{167,180}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{167,180}}</string>
                <key>sourceSize</key>
                <string>{199,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_42.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2d3073d490efdbba47f612905889d9d$</string>
            <key>textureFileName</key>
            <string>fish_frame_42.png</string>
        </dict>
    </dict>
</plist>
