<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{91,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{91,37}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{91,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,93},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,184},{89,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,93},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,372},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,281},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,190},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{89,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,275},{83,39}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{83,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>6_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,360},{69,39}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{69,39}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_6.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:287099205661d8c40ee1d615116dc2c2$</string>
            <key>textureFileName</key>
            <string>fish_frame_6.png</string>
        </dict>
    </dict>
</plist>
