<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
  <key>post</key>
  <string>在游戏中获得五元话费</string>

  <key>payVIPdes</key>
  <string>再充值%d元，即可升级到VIP%d</string>
  
  </dict>

</array>
</plist>