<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btBackOnPause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,146},{131,131}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{131,131}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>btBackOnPause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,464},{111,111}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{111,111}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>btBack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>btBack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1027},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>btClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,523},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>btContinueOnPause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1111},{166,166}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{166,166}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>btContinueOnPause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{142,142}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{142,142}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>btContinue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{193,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,86}}</string>
                <key>sourceSize</key>
                <string>{193,86}</string>
            </dict>
            <key>btContinue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,484},{193,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,86}}</string>
                <key>sourceSize</key>
                <string>{193,86}</string>
            </dict>
            <key>btPlayAgain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,943},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>btPlayAgain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,943},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>btRestartOnPause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,279},{129,131}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{129,131}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>btRestartOnPause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,410},{111,111}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{111,111}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>reviveDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,604}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{460,604}}</string>
                <key>sourceSize</key>
                <string>{480,604}</string>
            </dict>
            <key>rorateLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,577},{468,474}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{468,474}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>titlePause.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{480,254}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,254}}</string>
                <key>sourceSize</key>
                <string>{480,258}</string>
            </dict>
            <key>txtBeatXX.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,410},{236,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,30}}</string>
                <key>sourceSize</key>
                <string>{236,30}</string>
            </dict>
            <key>txtGameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{480,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,477}}</string>
                <key>sourceSize</key>
                <string>{480,477}</string>
            </dict>
            <key>txtHighScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,523},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>txtRewardCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,648},{105,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,27}}</string>
                <key>sourceSize</key>
                <string>{105,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>otherScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cd14cc0e2f2d120206c5391fa0db0e$</string>
            <key>textureFileName</key>
            <string>otherScene.png</string>
        </dict>
    </dict>
</plist>
